!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../partial/nav-drawer %>
          
      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->

            <form class="form-horizontal m-t-sm" action="/admin/subjects/update" method="post">
              <div class="form-group">
                  <h2 class="m-t-sm m-b">Subjects Update...</h2>
                  <div class="col-xs-12">
                      <div class="form-material floating">
                        <input type="hidden" name="id" value="<%=subject._id%>">


                          <label for="teacher_id">Select Teacher:</label>
                          <select class="form-control" id="teacher_id" name="teacher" size="1">
                            <% for(var i=0; i< teacher.length; i++){%>
                              <option value="<%= teacher[i]._id%>"><%= teacher[i].name %></option>

                            <%}%>

                          </select>
                      </div>
                  </div>
              </div>

                      <div class="form-group">
                    <div class="col-xs-6">
                        <div class="form-material floating">

                            <input class="form-control" type="text" id="name" name="name" value="<%=subject.subname%>">
                            <label for="name">Name:</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material floating">

                            <label for="major">Major:</label>
                            <select class="form-control" id="major" name="major" size="1">
                              <option value="00">CS</option>
                                <option value="01">CT</option>
                                <option value="10">CST</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="form-material floating">
                            <select class="form-control" id="year" name="year" size="1">
                              <option value="1">First Year</option>
                              <option value="2">Second Year</option>
                              <option value="3">Third Year</option>
                              <option value="4">Fourth Year</option>
                              <option value="5">Fifth Year</option>
                              </select>

                            <label for="year">Year:</label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-primary" name="click" value="Click me">
                    </div>
                </div>
            </form>
        </div>

        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
      <div class="modal-content">
        <!-- Apps card -->
        <div class="card m-b-0">
          <div class="card-header bg-app bg-inverse">
            <h4>Apps</h4>
            <ul class="card-actions">
              <li>
                <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="row text-center">
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                  <i class="ion-speedometer fa-4x"></i>
                  <p>Admin</p>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                  <i class="ion-laptop fa-4x"></i>
                  <p>Frontend</p>
                </a>
              </div>
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>
  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../partial/script %>

</body>

</html>
