<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Subject Add</h1>
    <form class="" action="/admin/subjects/add" method="post">
      <div class="form-group">
        <label for="teacher_id">Teacher_id</label>
        <select class="select-control" id="teacher_id" name="teacherid">
          <option value="986aqw071wwwrrrryy009">Daw Khin Mee Mee Thein</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value=""><p>
      </div>
      <div class="form-group">
        <label for="major">Major:</label>
        <select class="form-control" id="major" name="major">
          <option value="00">CS</option>
            <option value="01">CT</option>
            <option value="10">CST</option>
        </select>
      </div>
      <div class="form-group">
        <label for="year">Year:</label>
      <select class="year" id="year" name="year">
        <option value="1">First Year</option>
        <option value="2">Second Year</option>
        <option value="3">Third Year</option>
        <option value="4">Fourth Year</option>
        <option value="5">Fifth Year</option>
      </select>
      </div>
      <div class="form-group">
        <input type="submit" name="button" value="Submit">

      </div>
    </form>
  </body>
</html>
