<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="card-block">
          <h1 align='center' background-color:cyan>Attendance List</h1>

        <form class="form-horizontal" action="/admin/attendances/add" method="post" enctype="multipart/form-data" onsubmit="return false;">

        <div class="form-group">
          <label class="col-xs-12" for="example-select">CST</label>
          <div class="col-sm-9">
            <select class="form-control" id="example-select" name="example-select" size="1">
              <option value="1">Class A</option>
              <option value="2">Class B</option>
              <option value="3">Class C</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-12" for="example-select">CT</label>
          <div class="col-sm-9">
            <select class="form-control" id="example-select" name="example-select" size="1">
              <option value="A">2CT</option>
              <option value="A">3CT</option>
              <option value="A">4CT</option>
              <option value="A">5CT</option>
            </select>
          </div>
          </div>
          <div class="form-group">
            <label class="col-xs-12" for="example-select">CS</label>
            <div class="col-sm-9">
              <select class="form-control" id="example-select" name="example-select" size="1">
                <option value="0">2CS-A</option>
                <option value="1">2CS-B</option>
                <option value="2">3CS-A<//option>
                  <option value="3">3CS-B</option>
                  <option value="4">4CS-A</option>
                  <option value="5">4CS-B</option>
                  <option value="6">5CS-A</option>
                  <option value="7">5CS-B</option>

                    </select>
            </div>
            </div>
        </form>
        </div>
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
      <div class="modal-content">
        <!-- Apps card -->
        <div class="card m-b-0">
          <div class="card-header bg-app bg-inverse">
            <h4>Apps</h4>
            <ul class="card-actions">
              <li>
                <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="row text-center">
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                  <i class="ion-speedometer fa-4x"></i>
                  <p>Admin</p>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                  <i class="ion-laptop fa-4x"></i>
                  <p>Frontend</p>
                </a>
              </div>
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>
  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../partial/script %>

</body>

</html>
