<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

      <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="card-block">
          <h1 align='center' background-color:cyan>Attendance List</h1>

          <form class="form-horizontal" action="/admin/attendances/add" method="post" enctype="multipart/form-data" onsubmit="return false;">

            <div class="form-group">
              <label class="col-xs-12" for="example-select">CST</label>
              <div class="col-sm-9">
                <select class="form-control" id="example-select" name="example-select" size="1">
                  <option value="1">Class A</option>
                  <option value="2">Class B</option>
                  <option value="3">Class C</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" for="example-select">CT</label>
              <div class="col-sm-9">
                <select class="form-control" id="example-select" name="example-select" size="1">
                  <option value="A">2CT</option>
                  <option value="A">3CT</option>
                  <option value="A">4CT</option>
                  <option value="A">5CT</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-12" for="example-select">CS</label>
              <div class="col-sm-9">
                <select class="form-control" id="example-select" name="example-select" size="1">
                  <option value="0">2CS-A</option>
                  <option value="1">2CS-B</option>
                  <option value="2">3CS-A<//option> <option value="3">3CS-B</option>
                  <option value="4">4CS-A</option>
                  <option value="5">4CS-B</option>
                  <option value="6">5CS-A</option>
                  <option value="7">5CS-B</option>

                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-body">


              <button type="button" class="btn btn-rounded btn-warning mb-3">Go To Details</button>
            </div></div></div>
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>

      <!-- End Apps Modal -->

      <div class="app-ui-mask-modal"></div>

      <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
      <% include ../../partial/script %>

</body>

</html>
