<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

      <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="card-block">
          <h1 align='center' background-color:cyan>Attendance List</h1>
          <form class="form-horizontal" action="/admin/attendances/add" method="get" enctype="multipart/form-data" onsubmit="return false;">
            <div class="form-group">
              <label for="class">Class:</label>
              <select class="form-control" id="class" name="class">
                <option value="1csta">1CST A</option>
                <option value="1cstb">1CST B</option>
                <option value="1cstc">1CST C</option>
                <option value="2csa">2CS A</option>
                <option value="2csb">2CS B</option>
                <option value="2ct">2CT</option>
                <option value="3csa">3CS A</option>
                <option value="3csb">3CS B</option>
                <option value="3ct">3CT</option>
                <option value="4csa">4CS A</option>
                <option value="4csb">4CS B</option>
                <option value="4ct">4CT</option>
                <option value="5csa">5CS A</option>
                <option value="5csb">5CS B</option>
                <option value="5ct">5CT</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-lg-6 mt-5">
          <div class="card">
            <div class="card-block">
              <button type="button" class="btn btn-rounded btn-warning mb-3"><a href="/admin/attendances/studentdetail">Go To Details</a></button>
            </div>
          </div>
        </div>
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->

            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>

      <!-- End Apps Modal -->

      <div class="app-ui-mask-modal"></div>

      <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
      <% include ../../partial/script %>

</body>

</html>
