<aside class="app-layout-drawer">

  <!-- Drawer scroll area -->
  <div class="app-layout-drawer-scroll">
    <!-- Drawer logo -->
    <div id="logo" class="drawer-header">
      <a href="/"><img class="img-responsive" src="/images/logoSAS.png" title="AppUI" alt="AppUI" /></a>
    </div>

    <!-- Drawer navigation -->
    <nav class="drawer-main">
<ul class="nav nav-drawer">

    <li class="nav-item nav-drawer-header">Home</li>

    <li class="nav-item">
        <a href="/"><i class="ion-ios-speedometer-outline"></i> Dashboard</a>
    </li>

    <li class="nav-item nav-drawer-header">Admin</li>

    <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="ion-ios-calculator-outline"></i> Attendance</a>
        <ul class="nav nav-subnav">

            <li>
                <a href="/admin/timetables/add">Add Timetable</a>
            </li>

            <li>
                <a href="/admin/timetables/list">Timetable List</a>
            </li>

        </ul>
    </li>

    <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="ion-android-people"></i> Student</a>
        <ul class="nav nav-subnav">

            <li>
                <a href="/admin/students/add">Add Student</a>
            </li>

            <li>
                <a href="/admin/students/list">Students List</a>
            </li>


        </ul>
    </li>

    <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="ion-ios-people"></i> Teacher</a>
        <ul class="nav nav-subnav">

            <li>
                <a href="/admin/teachers/add">Add Teacher</a>
            </li>

            <li>
                <a href="/admin/teachers/list">Teachers List</a>
            </li>

        </ul>
    </li>

    <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="ion-ios-bookmarks"></i> Subject</a>
        <ul class="nav nav-subnav">

            <li class="active">
                <a href="/admin/subjects/add">Add Subjects</a>
            </li>

            <li>
                <a href="/admin/subjects/list">Subjects List</a>
            </li>


        </ul>
    </li>

    <li class="nav-item nav-item-has-subnav active open">
        <a href="javascript:void(0)"><i class="ion-calendar"></i> Timetable</a>
        <ul class="nav nav-subnav">

            <li class="active">
                <a href="#">Add Timetable</a>
            </li>

            <li>
                <a href="#">Timetable List</a>
            </li>


        </ul>
    </li>

</ul>

</nav>
<!-- End drawer navigation -->

<div class="drawer-footer">
  <p class="copyright">AppUI Template &copy;</p>
  <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
</div>
</div>
<!-- End drawer scroll area -->
</aside>
