<!-- Header logo -->
<a class="navbar-brand" href="/users/login">
    <img class="img-responsive" src="/images/logoSAS.png" title="AppUI" alt="AppUI" />
</a>
</div>

<div class="collapse navbar-collapse" id="header-navbar-collapse">
<!-- Header search form -->
<!-- <form class="navbar-form navbar-right app-search-form" role="search">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" id="search-input" placeholder="Search..." />
            <span class="input-group-btn">
<button class="btn" type="button"><i class="ion-ios-search-strong"></i></button>
</span>
        </div>
    </div>
</form> -->

<!-- Header navigation menu -->
<% if(locals.user){%>
  <ul id="main-menu" class="nav navbar-nav navbar-left">

      <li>
          <a href="frontend_home.html">Home</a>
      </li>

      <li>
          <a href="frontend_about.html">About</a>
      </li>

      <li>
          <a href="frontend_pricing.html">Pricing</a>
      </li>

      <li>
          <a href="frontend_team.html">Team</a>
      </li>

      <li class="dropdown active">
          <a href="#" data-toggle="dropdown">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">

              <li>
                  <a href="frontend_search.html">Search</a>
              </li>

              <li>
                  <a href="frontend_support.html">Support</a>
              </li>

              <li>
                  <a href="frontend_contact.html">Contact</a>
              </li>

              <li class="active">
                  <a href="frontend_login_signup.html">Login / Signup</a>
              </li>

              <li>
                  <a href="frontend_400.html">Error 400</a>
              </li>

          </ul>
      </li>

  </ul>
<%}%>

<!-- End header navigation menu -->
</div>
</div>
<!-- .container -->
</nav>
<!-- .navbar -->
</header>
<!-- End header -->
