<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="row">
            <div class="col-lg-2">
</div>
              <div class="col-lg-2">
                <!-- Bootstrap registration -->
                <div class="card">
                    <div class="card-header bg-green bg-inverse">
                        <h4>Teacher Update!!</h4>
                    <div class="card-block">
                        <form class="form-horizontal" action="/admin/teachers/update" method="post">
                          <input type="hidden" name="id" value="<%= teacher._id %>">

                            <div class="form-group">
                                <label class="col-xs-12" for="register1-username">Name:</label>
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" id="register1-username" name="teaname"  value="<%= teacher.name %>" placeholder="Enter username..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="register1-email">Email:</label>
                                <div class="col-xs-12">
                                    <input class="form-control" type="email" id="register1-email" name="teaemail" value="<%= teacher.email %>" placeholder="Enter email..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12" for="register1-password">Init Password:</label>
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" id="register1-password" name="teapwd" value="<%= teacher.password %>" placeholder="Enter password..." />
                                </div>
                            </div>
                            <div class="form-group">
                              <label class="col-xs-12" for="deperment">Deperment:</label>
                              <div class="col-xs-12">
                              <select class="form-control" id="deperment" name="teadep">
                                <option value="software">Software</option>
                                <option value="hardware">Hardware</option>
                                <option value="english">English</option>
                                <option value="myanmar">Myanmar</option>
                                <option value="maths">Maths</option>
                                <option value="myanmar">Myanmar</option>
                                <option value="is">Information Science</option>
                                <option value="applicaton">Application</option>

                              </select>
                            </div>
                          </div>
                            <div class="card-block">
                                <p>
                                    <button class="btn btn-lg btn btn-app-orange btn-pill" type="submit">Submit</button>
                                </p>
                              </div>
                        </form>
                    </div>
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
      <div class="modal-content">
        <!-- Apps card -->
        <div class="card m-b-0">
          <div class="card-header bg-app bg-inverse">
            <h4>Apps</h4>
            <ul class="card-actions">
              <li>
                <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="row text-center">
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                  <i class="ion-speedometer fa-4x"></i>
                  <p>Admin</p>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                  <i class="ion-laptop fa-4x"></i>
                  <p>Frontend</p>
                </a>
              </div>
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>
  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../../partial/script %>

</body>

</html>
