<!DOCTYPE html>

<html class="app-ui">

<<<<<<< HEAD
    <head>
        <!-- Meta -->
        <% include ../../partial/head %>
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <% include ../../partial/user-header %>

                <main class="app-layout-content">

                    <!-- Page header -->
                    <div class="page-header bg-app bg-inverse">
                        <div class="container">
                            <!-- Section Content -->
                            <div class="p-y-lg text-center">
                                <h1 class="display-2">Time_Table</h1>

                                <!-- Search form -->
                                <!-- <div class="row m-t">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <form action="frontend_search.html" method="post">
                                            <div class="input-group input-group-lg">
                                                <input class="form-control" type="text" placeholder="Search support.." />
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default"><i class="ion-ios-search-strong"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
                                <!-- End search form -->
                            </div>
                            <!-- End Section Content -->
                        </div>
                    </div>
                    <!-- End Page header -->

                    <!-- Categories -->
                    <div class="page-content bg-white">
                        <div class="container">
                    <% include ../../partial/user-submenuT %>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <!-- Introduction -->
                            <h2 class="h3 m-t-lg m-b">Time_Table List!!</h2>
                            <!-- Classic table -->
                            <div class="col-lg-12 col-lg-3">

                                    <div class="card-header bg-green bg-inverse">
                                        <h4>First Year</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button"><i class="ion-bookmark"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/admin/timetables/time-detail"><div class="card">
                                    <div class="card-block">
                                        <p>1CST A</p>
                                    </div>
                                    <div class="card-block">
                                        <p>1CST B</p>
                                    </div>
                                    <div class="card-block">
                                        <p>1CST C</p>
                                    </div>
                                </div></a>
                            </div>
                            <div class="col-lg-12 col-lg-3">

                                    <div class="card-header bg-green bg-inverse">
                                        <h4>Second Year</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button"><i class="ion-bookmark"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/admin/timetables/time-detail"><div class="card">
                                    <div class="card-block">
                                        <p>2CS A</p>
                                    </div>
                                    <div class="card-block">
                                        <p>2CS B</p>
                                    </div>
                                    <div class="card-block">
                                        <p>2CT </p>
                                    </div>
                                </div></a>
                            </div>
                            <div class="col-lg-12 col-lg-3">

                                    <div class="card-header bg-green bg-inverse">
                                        <h4>Third Year</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button"><i class="ion-bookmark"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/admin/timetables/time-detail"><div class="card">
                                    <div class="card-block">
                                        <p>3CS A</p>
                                    </div>
                                    <div class="card-block">
                                        <p>3CS B</p>
                                    </div>
                                    <div class="card-block">
                                        <p>3CST</p>
                                    </div>
                                </div></a>
                            </div>
                            <div class="col-lg-12 col-lg-3">

                                    <div class="card-header bg-green bg-inverse">
                                        <h4>Fourth Year</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button"><i class="ion-bookmark"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                      <a href="/admin/timetables/time-detail"><div class="card">
                                    <div class="card-block">
                                        <p>4CS A</p>
                                    </div>
                                    <div class="card-block">
                                        <p>4CS B</p>
                                    </div>
                                    <div class="card-block">
                                        <p>4CST</p>
                                    </div>
                                </div></a>
                            </div>
                            <div class="col-lg-12 col-lg-3">

                                    <div class="card-header bg-green bg-inverse">
                                        <h4>Fifth Year</h4>
                                        <ul class="card-actions">
                                            <li>
                                                <button type="button"><i class="ion-bookmark"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                      <a href="/admin/timetables/time-detail"><div class="card">
                                    <div class="card-block">
                                        <p>5CS A</p>
                                    </div>
                                    <div class="card-block">
                                        <p>5CS B</p>
                                    </div>
                                    <div class="card-block">
                                        <p>5CST</p>
                                    </div>
                                </div></a>
                            </div>

                            <!-- .card -->
                            <!-- End Classic table -->
                            <!-- End Introduction -->



                            <!-- Payments -->

                        </div>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
                    <!-- End Categories -->

                </main>

                <footer class="app-layout-footer">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                            <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
                        </div>
                        <div class="pull-left text-center text-md-left">
                            AppUI &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->

        <!-- End Apps Modal -->

        <% include ../../partial/script %>

    </body>
=======
<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->
      <aside class="app-layout-drawer">

        <!-- Drawer scroll area -->
        <div class="app-layout-drawer-scroll">
          <!-- Drawer logo -->
          <div id="logo" class="drawer-header">
            <a href="index.html"><img class="img-responsive" src="assets/img/logo/logo-backend.png" title="AppUI" alt="AppUI" /></a>
          </div>

          <!-- Drawer navigation -->
          <nav class="drawer-main">
            <% include ../../partial/nav-drawer %>
          </nav>
          <!-- End drawer navigation -->

          <div class="drawer-footer">
            <p class="copyright">AppUI Template &copy;</p>
            <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
          </div>
        </div>
        <!-- End drawer scroll area -->
      </aside>
      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="container-fluid p-y-md">
          <div class="card">
                                              <div class="card-header">
                                                  <h4>Timetabel..</h4>
                                                  <div class="card-actions">
                                                      <code>.table-bordered</code>
                                                  </div>
                                              </div>
                                              <div class="card-block">
                                                  <table class="table table-bordered">
                                                      <thead>
                                                          <tr>
                                                              <th class="text-center" style="width: 50px;">#</th>
                                                              <th>Name</th>
                                                              <th class="hidden-xs w-15">Account</th>
                                                              <th class="text-center" style="width: 100px;">Actions</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr>
                                                              <td class="text-center">1</td>
                                                              <td>Ashley Welch</td>
                                                              <td class="hidden-xs">Accountant</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-center">2</td>
                                                              <td>Emma Cooper</td>
                                                              <td class="hidden-xs">Designer</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-center">3</td>
                                                              <td>Arthur Garcia</td>
                                                              <td class="hidden-xs">Accountant</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-center">4</td>
                                                              <td>Denise Watson</td>
                                                              <td class="hidden-xs">Developer</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-center">5</td>
                                                              <td>Linda Moore</td>
                                                              <td class="hidden-xs">Accountant</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-center">6</td>
                                                              <td>Alexander Hayes</td>
                                                              <td class="hidden-xs">Accountant</td>
                                                              <td class="text-center">
                                                                  <div class="btn-group">
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit client"><i class="ion-edit"></i></button>
                                                                      <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove client"><i class="ion-close"></i></button>
                                                                  </div>
                                                              </td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div>

        </div>
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
      <div class="modal-content">
        <!-- Apps card -->
        <div class="card m-b-0">
          <div class="card-header bg-app bg-inverse">
            <h4>Apps</h4>
            <ul class="card-actions">
              <li>
                <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="row text-center">
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                  <i class="ion-speedometer fa-4x"></i>
                  <p>Admin</p>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                  <i class="ion-laptop fa-4x"></i>
                  <p>Frontend</p>
                </a>
              </div>
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>
  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../partial/script %>

</body>
>>>>>>> 64c781570ab1993c14b7f1dc0dd204794d5589bb

</html>
