<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="container-fluid p-y-md">

                         <!-- Registration forms -->

                         <div class="row">
                             <div class="col-lg-4">
                                 <!-- Bootstrap registration -->
                                 <div class="card">
                                     <div class="card-header bg-green bg-inverse">
                                        <h2>Timetable Add...</h2>
                                         <ul class="card-actions">
                                             <li>
                                                 <button type="button" data-toggle="card-action" data-action="refresh_toggle" data-action-mode="demo"><i class="ion-refresh"></i></button>
                                             </li>
                                             <li>
                                                 <button type="button" data-toggle="card-action" data-action="content_toggle"></button>
                                             </li>
                                         </ul>
                                     </div>
                                     <div class="card-block">
                                         <form class="form-horizontal" action="admin/timetable/add" method="post">
                                             <div class="form-group">
                                               <label class="col-xs-12" for="teacher_id">Teacher_Name:</label>
                                               <select class="select-control" id="teacher_id" name="teacherid">
                                                 <option value="986aqw071wwwrrrryy009">Daw Khin Mee Mee Thein</option>
                                               </select>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label class="col-xs-12" for="name">Subject Name:</label>
                                                 <div class="col-xs-12">
                                                     <input class="form-control" type="text" id="name" name="name"  />
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                <label class="col-xs-12" for="class">Class:</label>
                                               <div class="col-xs-12">
                                                 <select class="form-control" id="class" name="class">
                                                   <option value="1csta">1CST A</option>
                                                   <option value="1cstb">1CST B</option>
                                                   <option value="1cstc">1CST C</option>
                                                   <option value="2csa">2CS A</option>
                                                   <option value="2csb">2CS B</option>
                                                   <option value="2ct">2CT</option>
                                                   <option value="3csa">3CS A</option>
                                                   <option value="3csb">3CS B</option>
                                                   <option value="3ct">3CT</option>
                                                   <option value="4csa">4CS A</option>
                                                   <option value="4csb">4CS B</option>
                                                   <option value="4ct">4CT</option>
                                                   <option value="5csa">5CS A</option>
                                                   <option value="5csb">5CS B</option>
                                                   <option value="5ct">5CT</option>
                                                 </select>
                                               </div>
                                             </div>
                                             <div class="form-group">
                                               <label class="col-xs-12" for="time">Time:</label>
                                               <div class="col-xs-12">
                                                 <select class="form-control" id="time" name="time">
                                                   <option value="1">1</option>
                                                   <option value="2">2</option>
                                                   <option value="3">3</option>
                                                   <option value="4">4</option>
                                                   <option value="5">5</option>
                                                   <option value="6">6</option>
                                                   <option value="7">7</option>
                                                 </select>
                                               </div>

                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <div class="col-xs-12">
                                                   <label class="col-xs-12" for="day">Day:</label>
                                                   <div class="col-xs-12">
                                                     <select class="form-group" id="day" name="day">
                                                       <option value="1">Monday</option>
                                                       <option value="2">Tuesday</option>
                                                       <option value="3">Wednesday</option>
                                                       <option value="4">Thursday</option>
                                                       <option value="5">Friday</option>
                                                     </select>
                                                   </div>
                                                 </div>
                                             </div>
                                             <div class="form-group m-b-0">
                                                 <div class="col-xs-12">
                                                     <button class="btn btn-app" type="submit">Submit</button>
                                                 </div>
                                             </div>
                                         </form>
                                     </div>
                                     <!-- .card-block -->
                                 </div>
                                 <!-- .card -->
                                 <!-- End Bootstrap registration -->
                             </div>
                             <!-- .col-lg-4 -->
        <!-- End Page Content -->

      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->
  <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
      <div class="modal-content">
        <!-- Apps card -->
        <div class="card m-b-0">
          <div class="card-header bg-app bg-inverse">
            <h4>Apps</h4>
            <ul class="card-actions">
              <li>
                <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
              </li>
            </ul>
          </div>
          <div class="card-block">
            <div class="row text-center">
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                  <i class="ion-speedometer fa-4x"></i>
                  <p>Admin</p>
                </a>
              </div>
              <div class="col-xs-6">
                <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                  <i class="ion-laptop fa-4x"></i>
                  <p>Frontend</p>
                </a>
              </div>
            </div>
          </div>
          <!-- .card-block -->
        </div>
        <!-- End Apps card -->
      </div>
    </div>
  </div>
  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../partial/script %>

</body>

</html>
