<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="container-fluid p-y-md">

                         <!-- Registration forms -->

                         <div class="row">
                           <div class="col-lg-2">

                           </div>
                             <div class="col-lg-8">
                                 <!-- Bootstrap registration -->
                                 <div class="card">
                                     <div class="card-header bg-green bg-inverse">
                                        <h2>Timetable Add...</h2>

                                     </div>
                                     <div class="card-block">
                                         <form class="form-horizontal" action="/admin/timetable/add" method="post">
                                           <div class="form-group">

                                           </div>
                                             <div class="form-group">
                                               <label class="col-xs-2" for="teacher_id">Teacher_Name:</label>
                                               <div class="col-xs-10">
                                               <select class="form-control" id="teacher_id" name="teacher_id">

                                               </select>
                                                 </div>
                                               </div>

                                             <div class="form-group">
                                                 <label class="col-xs-2" for="name">Subject Name:</label>
                                                 <div class="col-xs-10">
                                                   <select class="form-control" id="subname" name="subname">

                                                   </select>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                <label class="col-xs-2" for="class">Class:</label>
                                               <div class="col-xs-10">
                                                 <select class="form-control" id="class" name="class">
                                                   <option value="1csta">1CST A</option>
                                                   <option value="1cstb">1CST B</option>
                                                   <option value="1cstc">1CST C</option>
                                                   <option value="2csa">2CS A</option>
                                                   <option value="2csb">2CS B</option>
                                                   <option value="2ct">2CT</option>
                                                   <option value="3csa">3CS A</option>
                                                   <option value="3csb">3CS B</option>
                                                   <option value="3ct">3CT</option>
                                                   <option value="4csa">4CS A</option>
                                                   <option value="4csb">4CS B</option>
                                                   <option value="4ct">4CT</option>
                                                   <option value="5csa">5CS A</option>
                                                   <option value="5csb">5CS B</option>
                                                   <option value="5ct">5CT</option>
                                                 </select>
                                               </div>
                                             </div>
                                             <div class="form-group">
                                               <label class="col-xs-2" for="time">Time:</label>
                                               <div class="col-xs-10">
                                                 <select class="form-control" id="time" name="time">
                                                   <option value="1">1</option>
                                                   <option value="2">2</option>
                                                   <option value="3">3</option>
                                                   <option value="4">4</option>
                                                   <option value="5">5</option>
                                                   <option value="6">6</option>
                                                   <option value="7">7</option>
                                                 </select>
                                               </div>

                                                 </div>

                                             <div class="form-group">
                                                   <label class="col-xs-2" for="day">Day:</label>
                                                   <div class="col-xs-10">
                                                     <select class="form-control" id="day" name="day">
                                                       <option value="1">Monday</option>
                                                       <option value="2">Tuesday</option>
                                                       <option value="3">Wednesday</option>
                                                       <option value="4">Thursday</option>
                                                       <option value="5">Friday</option>
                                                     </select>
                                                   </div>
                                                 </div>
                                                 <div class="form-group">

                                                 </div>
                                                 <div class="form-group">

                                                 </div>
                                             <div class="form-group m-b-0">
                                               <div class="col-xs-10">

                                               </div>
                                                 <div class="col-xs-2">
                                                     <button class="btn btn-app" type="submit">Submit</button>
                                                 </div>
                                             </div>
                                         </form>
                                         </div>
                                     </div>
                                     <!-- .card-block -->
                                 </div>

                                 <!-- .card -->
                                 <!-- End Bootstrap registration -->
                             </div>
                             <div class="col-lg-2">

                             </div>
                             <!-- .col-lg-4 -->
        <!-- End Page Content -->
      </div>
      </main>

    </div>
    <!-- .app-layout-container -->
  </div>
  <!-- .app-layout-canvas -->

  <!-- Apps Modal -->
  <!-- Opens from the button in the header -->

  <!-- End Apps Modal -->

  <div class="app-ui-mask-modal"></div>

  <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
  <% include ../../partial/script %>

</body>
<script type="text/javascript">
  var subject = [<%- subj %>];

  console.log(subject);
  addOptions('teacher_id', subject);
  $("#teacher_id").on('change', function(){
      var sub = $.grep( subject, function( n, i ) {
        return n.teacher_id.name == $("#teacher_id").val();
      });
      addOptions('subname', sub);
  });

  function addOptions(id, arr){
      $("#"+id).children().remove();
      for(var idx in arr){
          if(idx == 0) $("#"+id).append(new Option('Select '+((id == 'teacher_id')? "Teacher": "Subject"), ''));
          if(idx == 0 || ((id == 'teacher_id')? arr[idx][id].name != arr[idx-1][id].name : arr[idx][id] != arr[idx-1][id])){
              $("#"+id).append(new Option(((id == 'teacher_id')? arr[idx][id].name:arr[idx][id]),((id == 'teacher_id')? arr[idx][id].name:arr[idx][id])));

          }
      }
  }
</script>
</html>
